@import url(http://fonts.googleapis.com/css?family=Alef);

* {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
}

body {
	background: #000 url('../images/background.jpg');
	font-family: "Alef", "Candara", "Calibri, Segoe", "Segoe UI", Optima, Arial, sans-serif;
	color: #333;
}

#container {
	max-width: 1080px;
	margin: 0 auto;
	background-color: rgba(255,255,255,0.8);
	padding: 25px;
}

header{
	width: 100%;
	float: left;
	background: yellow;
}

header h1 {
	float: left;
}

header nav {
	float: right;
}

header nav ul li{
	display: inline;
	margin: 0 10px;
}

section {
	width:65%;
	float: left;
}

aside {
	float: right;
	width:35%;
}

footer {
	/*when floating anything besure that the following item is listed as clear:both; */
	clear:both;
	width: 100%;
}














